.text-stone-100 {
  color: #e3e3dd;
}

.text-stone-200 {
  color: #ccccc1;
}

.text-stone-300 {
  color: #b4b4a6;
}

.text-stone-400 {
  color: #9d9d8a;
}

.text-stone-500 {
  color: #85856f;
}

.text-stone-600 {
  color: #696958;
}

.text-stone-700 {
  color: #4d4d41;
}

.text-stone-800 {
  color: #323229;
}

.text-teal-100 {
  color: #c3f7eb;
}

.text-teal-200 {
  color: #96f1dc;
}

.text-teal-300 {
  color: #69ebcd;
}

.text-teal-400 {
  color: #3ce5be;
}

.text-teal-500 {
  color: #1cd2a8;
}

.text-teal-600 {
  color: #16a584;
}

.text-teal-700 {
  color: #107860;
}

.text-teal-800 {
  color: #0a4b3c;
}

.text-red-100 {
  color: #fac3c3;
}

.text-red-200 {
  color: #f79393;
}

.text-red-300 {
  color: #f36464;
}

.text-red-400 {
  color: #ef3535;
}

.text-red-500 {
  color: #e01111;
}

.text-red-600 {
  color: #b00e0e;
}

.text-red-700 {
  color: #810a0a;
}

.text-red-800 {
  color: #520606;
}

.bg-stone-100 {
  color: #e3e3dd;
}

.bg-stone-200 {
  color: #ccccc1;
}

.bg-stone-300 {
  color: #b4b4a6;
}

.bg-stone-400 {
  color: #9d9d8a;
}

.bg-stone-500 {
  color: #85856f;
}

.bg-stone-600 {
  color: #696958;
}

.bg-stone-700 {
  color: #4d4d41;
}

.bg-stone-800 {
  color: #323229;
}

.bg-teal-100 {
  color: #c3f7eb;
}

.bg-teal-200 {
  color: #96f1dc;
}

.bg-teal-300 {
  color: #69ebcd;
}

.bg-teal-400 {
  color: #3ce5be;
}

.bg-teal-500 {
  color: #1cd2a8;
}

.bg-teal-600 {
  color: #16a584;
}

.bg-teal-700 {
  color: #107860;
}

.bg-teal-800 {
  color: #0a4b3c;
}

.bg-red-100 {
  color: #fac3c3;
}

.bg-red-200 {
  color: #f79393;
}

.bg-red-300 {
  color: #f36464;
}

.bg-red-400 {
  color: #ef3535;
}

.bg-red-500 {
  color: #e01111;
}

.bg-red-600 {
  color: #b00e0e;
}

.bg-red-700 {
  color: #810a0a;
}

.bg-red-800 {
  color: #520606;
}

.text-1 {
  font-size: 6px;
  line-height: 5px;
}

.text-2 {
  font-size: 12px;
  line-height: 10px;
}

.text-3 {
  font-size: 18px;
  line-height: 15px;
}

.text-4 {
  font-size: 24px;
  line-height: 20px;
}

.text-5 {
  font-size: 30px;
  line-height: 25px;
}

.text-6 {
  font-size: 36px;
  line-height: 30px;
}

.text-7 {
  font-size: 42px;
  line-height: 35px;
}

.text-8 {
  font-size: 48px;
  line-height: 40px;
}

.text-9 {
  font-size: 54px;
  line-height: 45px;
}

.font-weight-1 {
  font-weight: 100;
}

.font-weight-2 {
  font-weight: 200;
}

.font-weight-3 {
  font-weight: 300;
}

.font-weight-4 {
  font-weight: 400;
}

.font-weight-5 {
  font-weight: 500;
}

.font-weight-6 {
  font-weight: 600;
}

.font-weight-7 {
  font-weight: 700;
}

.font-weight-8 {
  font-weight: 800;
}

.font-weight-9 {
  font-weight: 900;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.p-6 {
  padding: 24px;
}

.p-7 {
  padding: 28px;
}

.p-8 {
  padding: 32px;
}

.p-9 {
  padding: 36px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 8px;
}

.pl-3 {
  padding-left: 12px;
}

.pl-4 {
  padding-left: 16px;
}

.pl-5 {
  padding-left: 20px;
}

.pl-6 {
  padding-left: 24px;
}

.pl-7 {
  padding-left: 28px;
}

.pl-8 {
  padding-left: 32px;
}

.pl-9 {
  padding-left: 36px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-2 {
  padding-right: 8px;
}

.pr-3 {
  padding-right: 12px;
}

.pr-4 {
  padding-right: 16px;
}

.pr-5 {
  padding-right: 20px;
}

.pr-6 {
  padding-right: 24px;
}

.pr-7 {
  padding-right: 28px;
}

.pr-8 {
  padding-right: 32px;
}

.pr-9 {
  padding-right: 36px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pt-5 {
  padding-top: 20px;
}

.pt-6 {
  padding-top: 24px;
}

.pt-7 {
  padding-top: 28px;
}

.pt-8 {
  padding-top: 32px;
}

.pt-9 {
  padding-top: 36px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-3 {
  padding-bottom: 12px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pb-6 {
  padding-bottom: 24px;
}

.pb-7 {
  padding-bottom: 28px;
}

.pb-8 {
  padding-bottom: 32px;
}

.pb-9 {
  padding-bottom: 36px;
}

.py-0 {
  padding-bottom: 0px;
  padding-top: 0px;
}

.py-1 {
  padding-bottom: 4px;
  padding-top: 4px;
}

.py-2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.py-3 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.py-4 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.py-5 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.py-6 {
  padding-bottom: 24px;
  padding-top: 24px;
}

.py-7 {
  padding-bottom: 28px;
  padding-top: 28px;
}

.py-8 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.py-9 {
  padding-bottom: 36px;
  padding-top: 36px;
}

.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.px-1 {
  padding-right: 4px;
  padding-left: 4px;
}

.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-3 {
  padding-right: 12px;
  padding-left: 12px;
}

.px-4 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-5 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-6 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-7 {
  padding-right: 28px;
  padding-left: 28px;
}

.px-8 {
  padding-right: 32px;
  padding-left: 32px;
}

.px-9 {
  padding-right: 36px;
  padding-left: 36px;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 12px;
}

.m-4 {
  margin: 16px;
}

.m-5 {
  margin: 20px;
}

.m-6 {
  margin: 24px;
}

.m-7 {
  margin: 28px;
}

.m-8 {
  margin: 32px;
}

.m-9 {
  margin: 36px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-5 {
  margin-left: 20px;
}

.ml-6 {
  margin-left: 24px;
}

.ml-7 {
  margin-left: 28px;
}

.ml-8 {
  margin-left: 32px;
}

.ml-9 {
  margin-left: 36px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.mr-6 {
  margin-right: 24px;
}

.mr-7 {
  margin-right: 28px;
}

.mr-8 {
  margin-right: 32px;
}

.mr-9 {
  margin-right: 36px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-7 {
  margin-top: 28px;
}

.mt-8 {
  margin-top: 32px;
}

.mt-9 {
  margin-top: 36px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.my-0 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.my-1 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.my-2 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.my-3 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.my-4 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.my-5 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.my-6 {
  margin-bottom: 24px;
  margin-top: 24px;
}

.my-7 {
  margin-bottom: 28px;
  margin-top: 28px;
}

.my-8 {
  margin-bottom: 32px;
  margin-top: 32px;
}

.my-9 {
  margin-bottom: 36px;
  margin-top: 36px;
}

.mx-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.mx-1 {
  margin-right: 4px;
  margin-left: 4px;
}

.mx-2 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-3 {
  margin-right: 12px;
  margin-left: 12px;
}

.mx-4 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-5 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-6 {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-7 {
  margin-right: 28px;
  margin-left: 28px;
}

.mx-8 {
  margin-right: 32px;
  margin-left: 32px;
}

.mx-9 {
  margin-right: 36px;
  margin-left: 36px;
}

.w-0 {
  width: 0px;
}

.w-1 {
  width: 4px;
}

.w-2 {
  width: 8px;
}

.w-3 {
  width: 12px;
}

.w-4 {
  width: 16px;
}

.w-5 {
  width: 20px;
}

.w-6 {
  width: 24px;
}

.w-7 {
  width: 28px;
}

.w-8 {
  width: 32px;
}

.w-9 {
  width: 36px;
}

.w-10 {
  width: 40px;
}

.w-11 {
  width: 44px;
}

.w-12 {
  width: 48px;
}

.w-13 {
  width: 52px;
}

.w-14 {
  width: 56px;
}

.w-15 {
  width: 60px;
}

.w-16 {
  width: 64px;
}

.w-17 {
  width: 68px;
}

.w-18 {
  width: 72px;
}

.w-19 {
  width: 76px;
}

.w-20 {
  width: 80px;
}

.w-21 {
  width: 84px;
}

.w-22 {
  width: 88px;
}

.w-23 {
  width: 92px;
}

.w-24 {
  width: 96px;
}

.w-25 {
  width: 100px;
}

.w-26 {
  width: 104px;
}

.w-27 {
  width: 108px;
}

.w-28 {
  width: 112px;
}

.w-29 {
  width: 116px;
}

.w-30 {
  width: 120px;
}

.w-31 {
  width: 124px;
}

.w-32 {
  width: 128px;
}

.w-33 {
  width: 132px;
}

.w-34 {
  width: 136px;
}

.w-35 {
  width: 140px;
}

.w-36 {
  width: 144px;
}

.w-37 {
  width: 148px;
}

.w-38 {
  width: 152px;
}

.w-39 {
  width: 156px;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-1 {
  min-width: 4px;
}

.min-w-2 {
  min-width: 8px;
}

.min-w-3 {
  min-width: 12px;
}

.min-w-4 {
  min-width: 16px;
}

.min-w-5 {
  min-width: 20px;
}

.min-w-6 {
  min-width: 24px;
}

.min-w-7 {
  min-width: 28px;
}

.min-w-8 {
  min-width: 32px;
}

.min-w-9 {
  min-width: 36px;
}

.min-w-10 {
  min-width: 40px;
}

.min-w-11 {
  min-width: 44px;
}

.min-w-12 {
  min-width: 48px;
}

.min-w-13 {
  min-width: 52px;
}

.min-w-14 {
  min-width: 56px;
}

.min-w-15 {
  min-width: 60px;
}

.min-w-16 {
  min-width: 64px;
}

.min-w-17 {
  min-width: 68px;
}

.min-w-18 {
  min-width: 72px;
}

.min-w-19 {
  min-width: 76px;
}

.min-w-20 {
  min-width: 80px;
}

.min-w-21 {
  min-width: 84px;
}

.min-w-22 {
  min-width: 88px;
}

.min-w-23 {
  min-width: 92px;
}

.min-w-24 {
  min-width: 96px;
}

.min-w-25 {
  min-width: 100px;
}

.min-w-26 {
  min-width: 104px;
}

.min-w-27 {
  min-width: 108px;
}

.min-w-28 {
  min-width: 112px;
}

.min-w-29 {
  min-width: 116px;
}

.min-w-30 {
  min-width: 120px;
}

.min-w-31 {
  min-width: 124px;
}

.min-w-32 {
  min-width: 128px;
}

.min-w-33 {
  min-width: 132px;
}

.min-w-34 {
  min-width: 136px;
}

.min-w-35 {
  min-width: 140px;
}

.min-w-36 {
  min-width: 144px;
}

.min-w-37 {
  min-width: 148px;
}

.min-w-38 {
  min-width: 152px;
}

.min-w-39 {
  min-width: 156px;
}

.max-w-0 {
  max-width: 0px;
}

.max-w-1 {
  max-width: 4px;
}

.max-w-2 {
  max-width: 8px;
}

.max-w-3 {
  max-width: 12px;
}

.max-w-4 {
  max-width: 16px;
}

.max-w-5 {
  max-width: 20px;
}

.max-w-6 {
  max-width: 24px;
}

.max-w-7 {
  max-width: 28px;
}

.max-w-8 {
  max-width: 32px;
}

.max-w-9 {
  max-width: 36px;
}

.max-w-10 {
  max-width: 40px;
}

.max-w-11 {
  max-width: 44px;
}

.max-w-12 {
  max-width: 48px;
}

.max-w-13 {
  max-width: 52px;
}

.max-w-14 {
  max-width: 56px;
}

.max-w-15 {
  max-width: 60px;
}

.max-w-16 {
  max-width: 64px;
}

.max-w-17 {
  max-width: 68px;
}

.max-w-18 {
  max-width: 72px;
}

.max-w-19 {
  max-width: 76px;
}

.max-w-20 {
  max-width: 80px;
}

.max-w-21 {
  max-width: 84px;
}

.max-w-22 {
  max-width: 88px;
}

.max-w-23 {
  max-width: 92px;
}

.max-w-24 {
  max-width: 96px;
}

.max-w-25 {
  max-width: 100px;
}

.max-w-26 {
  max-width: 104px;
}

.max-w-27 {
  max-width: 108px;
}

.max-w-28 {
  max-width: 112px;
}

.max-w-29 {
  max-width: 116px;
}

.max-w-30 {
  max-width: 120px;
}

.max-w-31 {
  max-width: 124px;
}

.max-w-32 {
  max-width: 128px;
}

.max-w-33 {
  max-width: 132px;
}

.max-w-34 {
  max-width: 136px;
}

.max-w-35 {
  max-width: 140px;
}

.max-w-36 {
  max-width: 144px;
}

.max-w-37 {
  max-width: 148px;
}

.max-w-38 {
  max-width: 152px;
}

.max-w-39 {
  max-width: 156px;
}

.h-0 {
  height: 0px;
}

.h-1 {
  height: 4px;
}

.h-2 {
  height: 8px;
}

.h-3 {
  height: 12px;
}

.h-4 {
  height: 16px;
}

.h-5 {
  height: 20px;
}

.h-6 {
  height: 24px;
}

.h-7 {
  height: 28px;
}

.h-8 {
  height: 32px;
}

.h-9 {
  height: 36px;
}

.h-10 {
  height: 40px;
}

.h-11 {
  height: 44px;
}

.h-12 {
  height: 48px;
}

.h-13 {
  height: 52px;
}

.h-14 {
  height: 56px;
}

.h-15 {
  height: 60px;
}

.h-16 {
  height: 64px;
}

.h-17 {
  height: 68px;
}

.h-18 {
  height: 72px;
}

.h-19 {
  height: 76px;
}

.h-20 {
  height: 80px;
}

.h-21 {
  height: 84px;
}

.h-22 {
  height: 88px;
}

.h-23 {
  height: 92px;
}

.h-24 {
  height: 96px;
}

.h-25 {
  height: 100px;
}

.h-26 {
  height: 104px;
}

.h-27 {
  height: 108px;
}

.h-28 {
  height: 112px;
}

.h-29 {
  height: 116px;
}

.h-30 {
  height: 120px;
}

.h-31 {
  height: 124px;
}

.h-32 {
  height: 128px;
}

.h-33 {
  height: 132px;
}

.h-34 {
  height: 136px;
}

.h-35 {
  height: 140px;
}

.h-36 {
  height: 144px;
}

.h-37 {
  height: 148px;
}

.h-38 {
  height: 152px;
}

.h-39 {
  height: 156px;
}

.min-h-0 {
  min-height: 0px;
}

.min-h-1 {
  min-height: 4px;
}

.min-h-2 {
  min-height: 8px;
}

.min-h-3 {
  min-height: 12px;
}

.min-h-4 {
  min-height: 16px;
}

.min-h-5 {
  min-height: 20px;
}

.min-h-6 {
  min-height: 24px;
}

.min-h-7 {
  min-height: 28px;
}

.min-h-8 {
  min-height: 32px;
}

.min-h-9 {
  min-height: 36px;
}

.min-h-10 {
  min-height: 40px;
}

.min-h-11 {
  min-height: 44px;
}

.min-h-12 {
  min-height: 48px;
}

.min-h-13 {
  min-height: 52px;
}

.min-h-14 {
  min-height: 56px;
}

.min-h-15 {
  min-height: 60px;
}

.min-h-16 {
  min-height: 64px;
}

.min-h-17 {
  min-height: 68px;
}

.min-h-18 {
  min-height: 72px;
}

.min-h-19 {
  min-height: 76px;
}

.min-h-20 {
  min-height: 80px;
}

.min-h-21 {
  min-height: 84px;
}

.min-h-22 {
  min-height: 88px;
}

.min-h-23 {
  min-height: 92px;
}

.min-h-24 {
  min-height: 96px;
}

.min-h-25 {
  min-height: 100px;
}

.min-h-26 {
  min-height: 104px;
}

.min-h-27 {
  min-height: 108px;
}

.min-h-28 {
  min-height: 112px;
}

.min-h-29 {
  min-height: 116px;
}

.min-h-30 {
  min-height: 120px;
}

.min-h-31 {
  min-height: 124px;
}

.min-h-32 {
  min-height: 128px;
}

.min-h-33 {
  min-height: 132px;
}

.min-h-34 {
  min-height: 136px;
}

.min-h-35 {
  min-height: 140px;
}

.min-h-36 {
  min-height: 144px;
}

.min-h-37 {
  min-height: 148px;
}

.min-h-38 {
  min-height: 152px;
}

.min-h-39 {
  min-height: 156px;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-1 {
  max-height: 4px;
}

.max-h-2 {
  max-height: 8px;
}

.max-h-3 {
  max-height: 12px;
}

.max-h-4 {
  max-height: 16px;
}

.max-h-5 {
  max-height: 20px;
}

.max-h-6 {
  max-height: 24px;
}

.max-h-7 {
  max-height: 28px;
}

.max-h-8 {
  max-height: 32px;
}

.max-h-9 {
  max-height: 36px;
}

.max-h-10 {
  max-height: 40px;
}

.max-h-11 {
  max-height: 44px;
}

.max-h-12 {
  max-height: 48px;
}

.max-h-13 {
  max-height: 52px;
}

.max-h-14 {
  max-height: 56px;
}

.max-h-15 {
  max-height: 60px;
}

.max-h-16 {
  max-height: 64px;
}

.max-h-17 {
  max-height: 68px;
}

.max-h-18 {
  max-height: 72px;
}

.max-h-19 {
  max-height: 76px;
}

.max-h-20 {
  max-height: 80px;
}

.max-h-21 {
  max-height: 84px;
}

.max-h-22 {
  max-height: 88px;
}

.max-h-23 {
  max-height: 92px;
}

.max-h-24 {
  max-height: 96px;
}

.max-h-25 {
  max-height: 100px;
}

.max-h-26 {
  max-height: 104px;
}

.max-h-27 {
  max-height: 108px;
}

.max-h-28 {
  max-height: 112px;
}

.max-h-29 {
  max-height: 116px;
}

.max-h-30 {
  max-height: 120px;
}

.max-h-31 {
  max-height: 124px;
}

.max-h-32 {
  max-height: 128px;
}

.max-h-33 {
  max-height: 132px;
}

.max-h-34 {
  max-height: 136px;
}

.max-h-35 {
  max-height: 140px;
}

.max-h-36 {
  max-height: 144px;
}

.max-h-37 {
  max-height: 148px;
}

.max-h-38 {
  max-height: 152px;
}

.max-h-39 {
  max-height: 156px;
}

.b-1 {
  border: 0.1px solid #eee;
}

.b-2 {
  border: 0.2px solid #eee;
}

.b-3 {
  border: 0.3px solid #eee;
}

.b-4 {
  border: 0.4px solid #eee;
}

.b-5 {
  border: 0.5px solid #eee;
}

.b-6 {
  border: 0.6px solid #eee;
}

.b-7 {
  border: 0.7px solid #eee;
}

.b-8 {
  border: 0.8px solid #eee;
}

.b-9 {
  border: 0.9px solid #eee;
}

.b-10 {
  border: 1px solid #eee;
}

.shadow-1 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-3 {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-4 {
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-5 {
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-6 {
  box-shadow: 0 6px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-7 {
  box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.1);
}

.shadow-8 {
  box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.1);
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}